<div id = "post-{{id}}" class = "card">
    <img src="{{thumbnail}}" alt="Image not Found">
    <h5>
        <p class = "card-title">{{title}}</p>
        <p class = "card-text">{{description}}</p>
        <a href="/post/{{id}}" class = "anchor-buttons">Post Details</a>
    </h5>
</div>